@import url(https://fonts.bunny.net/css?family=outfit:400,700);

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: Dark blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: center;
    min-height: 100vh;
}
